@model FamilyFinance.Models.ViewModel.StatementViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";            
}

<h2>Account Statement for @Model.AccountName - @Model.StatementDate</h2>
@foreach (var transaction in Model.Transactions)
{
    <p>@transaction.Date.ToShortDateString() @transaction.Name @transaction.Category.Name @transaction.Amount</p>
}