@model FamilyFinance.Models.ViewModel.AccountActivityOverViewVeiwModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Full details for all transactions for all accounts</h2>

<div>
    Money In £@Model.MoneyIn - Money Out £@Model.MoneyOut = £@(Model.MoneyIn+Model.MoneyOut)
</div>

@foreach (var t in Model.Activities)
{
    <div><span>@t.Date.ToShortDateString()</span> <span>@t.Account</span> <span>@t.Category</span> <span>@t.Amount</span> <span>@t.RunningTotal</span></div>
}
