@model FamilyFinance.Models.ViewModel.HomeIndex
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";        
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Family Finances - Keep track of all your family financaes in one place. 
                Avaliable to all family members, across all their devices (well, web and android..)
            </p>
        </div>
    </section>
}
<h2>Account Summary - Total Avaliable: @Model.Totals.Total</h2>

<h3>Account Summary - Debit: @Model.Totals.Debit</h3>
<ol>
@foreach(var account in Model.Accounts.Debit)
{
    <li>
        <h4>@account.name: @account.balance</h4>        
    </li>
}
</ol>

<h3>Account Summary - Savings: @Model.Totals.Savings</h3>
<ol>
    @foreach(var account in Model.Accounts.Savings)
    {
        <li>
            <h4>@account.name: @account.balance</h4>        
        </li>
    }
</ol>

<h3>Account Summary - Credit: @Model.Totals.Credit</h3>
<ol>
    @foreach(var account in Model.Accounts.Credit)
    {
        <li>
            <h4>@account.name: @account.balance</h4>        
        </li>
    }
</ol>

<h3>Account Summary - Loans: @Model.Totals.Loan</h3>
<ol>
@foreach(var account in Model.Accounts.Loan)
{
    <li>
        <h4>@account.name: @account.balance</h4>        
    </li>
}
</ol>
